@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.social{
    display: flex;
    gap: 5px;
}

.link{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 0 10px #0003;
    transition: all 0.3s ease-in-out;
}

.facebook{
    background: #0163e0;
}

.twitter{
    background: #1da1f2;
}
.instagram{
    background: #cd486b;
}
.github{
    background: #212121;
}
.linkedin{
    background: #0077d5;
}

.link:hover{
    width: 150px;
}

.icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.link:hover .icon{
    width: 30%;
}

.text{
    position: absolute;
    right: 0;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    width: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.link:hover .text{
    width: 70%;
    opacity: 1;
}